/* .App {
  text-align: center;
} */

.Out{
  margin: 20px;
}
.Round{
  margin-top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.All{
  text-align: center;
  background-color: rgb(240, 240, 240);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.List{
  display: flex;
  justify-content: center; 
  background-color:rgb(79, 112, 156) ;
}
.Num{
  background-color:  rgb(33, 53, 85) ;
  border: 2px solid white;
  width: 25%;
  margin: 20px;
}


.Log{
  background-color: rgb(240, 240, 240);
  height: 440px;
  padding: 100px;
}
.LogAll{
  background-color: rgb(79, 112, 156);
  color: white;
  text-align: center;
  border: 2px solid black;
  width: 30%;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 150px; */
  height: 350px;
}
/* .Form{
  display: flex;
  flex-direction: column;
  align-items: center;
} */