.four{
    border: 2px solid black;
    width: 90%;
    height: 20px;
    margin-left: 20px;
}
.five{
    border: 2px solid black;
    width: 90%;
    height: 20px;
    margin-left: 20px;
}
.six{
    border: 2px solid black;
    width: 90%;
    height: 20px;
    margin-left: 20px;
}