<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css" >
</head>

<body>
    <header>
        <div style="display: flex; flex-wrap: wrap;" >
        <div>
            <div>
                <h1>I'm Maniesh</h1>
                <h2>Web Developer</h2>
            </div>
            <div>
                <h1>About</h1>
                <p>As a mechanical engineering student turned metallurgy engineer, I've
                    sharpened my analytical and problem-solving skills in various industrial
                    settings. Now, driven by my passion for technology, I'm transitioning into
                    web development. With a strong foundation in engineering principles and a
                    track record of adapting to new challenges, I offer a fresh perspective to the
                    IT field. Eager to excel in web development, I'm committed to continuous
                    learning and contributing to innovative projects.</p>
            </div>
        <div>
            <h1>Education</h1>
            <p><b>Degree : </b>B.E Mechanical Engineering</p>
            <p><b>University : </b>Hindusthan Institute Of Technology</p>
            <p><b>Year Of Graduation : </b>2021</p>
            <p><b>Percentage : </b>8.27%</p>
        </div>
    </div>
        <div>
            <h1>Skills</h1>
            <p><b>Frontend Development : </b>HTML, CSS, JavaScript, jQuery, React.js</p>
            <p><b>Backend Development : </b>Node.js, Express.js, MySQL</p>
            <p><b>Responsive Web Design : </b>BootStrap, CSS Grid, Flexbox</p>
            <p><b>Other Tools : </b>Visual Studio Code, npm</p>
        </div>
        <div>
            <h1>My Projects</h1>
            <h2>Project 1 : Responsive Web Design</h2>
            <p><b>Technologies Used : </b>HTML, CSS, Flexbox, MediaQuery, jQuery</p>
            <h3>Description : </h3>
            <p>Crafted a responsive website using HTML, CSS, and JavaScript to deliver
                seamless user experiences across various devices. Implemented flexible
                layouts and media queries to adapt content to different screen sizes.Leveraged JavaScript for
                interactive elements and dynamic functionality,
                ensuring smooth navigation and engagement.</p>
            <b>Link : <a href=""></a></b>

            <h2>Project 2 : To-Do-List</h2>
            <p><b>Technologies Used : </b>React.js</p>
            <h3>Description : </h3>
            <p>Developed a collaborative To-Do List application using React, enabling
                multiple users to manage tasks independently. Implemented key function-
                alities such as user authentication for secure access, task creation, editing,
                and deletion. Integrated a search feature to facilitate task organization and
                retrieval. Utilized React components and state management for efficient
                user interaction and data handling.</p>
            <b>Link : <a href="https://manieshkt.github.io/karka-training/">My To-Do</a></b>
        </div>
    </div>
        <div>
            <h1>Contact</h1>
            <p><b>Email : </b>manieshkt@gmail.com</p>
            <p><b>Mobile : </b>8838916377</p>
            <p><b>Linkedin : </b><a href="https://www.linkedin.com/in/manieshkt">Maniesh</a></p>
            <p><b>Github : </b><a href="https://github.com/Manieshkt/karka-training">My_Github</a></p>
        </div>
    </header>
</body>

</html>