body{
    width: 100%;
    height: 100%;
    background-color: rgb(46, 134, 134);
    background-image: url("./depositphotos_449081274-stock-photo-surprised-kid-glasses-sitting-crossed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* .container{
    width: 100%;
} */
#one{
    border-radius: 10px;
    margin-left: 27px;
    width: 400px;
    border: none transparent;
    outline: none;
    height: 20px;
}
#two{
    border-radius: 10px;
    width: 400px;
    border: none transparent;
    outline: none;
    height: 20px;
}
#tone{
    margin-left: 20px;
}
#ttwo{
    margin-left: 20px;
}
.picture{
    height: 200px;
    margin-left: 20px ;
    width: 60%;
}
.total{
    width: 80%;
    height:500px;
}
.book{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
/* .three{
    
    height: 70px;
    width: 80%;
    margin-left: 20px;
    
}
#four{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#five{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#six{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#seven{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
} */
/* .eight{
    
    height: 70px;
    width: 80%;
    margin-left: 20px;

}
#nine{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#ten{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#eleven{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#twelve{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
.onea{
    /* display: inline-block; */
    /* height: 70px;
    width: 80%;
    margin-left: 20px;
   
} */ */
#twoa{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#threea{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#foura{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#fivea{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
.eight{
    /* display: inline-block; */
    height: 70px;
    width: 80%;
    margin-left: 20px;
   
}
#nine{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#ten{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#eleven{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#twelve{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}.sixa{
    /* display: inline-block; */
    height: 100px;
    width: 80%;
    margin-left: 20px;
    
}
#sevena{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#eighta{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#ninea{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#tena{
    display: inline-block;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: red;
    font-size: xx-large;
}
#sub{
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgb(245, 77, 77);
    font-size: 30px;
    border: 2px solid black;
   }

.hi{
    display: inline-block;
    width: 50%;
   
}
.pic{
    display: inline-block;
    width: 49%;
    height: 700px;
}
#pica{
    height: 250px;
}
#picb{
    height: 250px;
}
.info{
    background-image: url("./download\ \(8\).jpg");
    background-repeat: no-repeat;
    width: 100% !important; 
    /* display: inline; */
}
@media only screen and (max-width:961px){
     /* .container{
        width: 100%;
    } */
    .picture{
        height: 200px;
        margin-left: 100px;
        width: 40%;
    }
    #tone{
        margin-left: 20px;
    }
    #ttwo{
        margin-left: 20px;
    }
    .three{
        /* display: inline-block; */
        height: 70px;
        width: 80%;
        margin-left: 20px;
        
    }
    #four{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #five{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #six{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #seven{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    .eight{
        /* display: inline-block; */
        height: 70px;
        width: 80%;
        margin-left: 20px;
    
    }
    #nine{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #ten{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #eleven{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #twelve{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    .onea{
        /* display: inline-block; */
        height: 70px;
        width: 80%;
        margin-left: 20px;
       
    }
    #twoa{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #threea{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #foura{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #fivea{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    .eight{
        /* display: inline-block; */
        height: 70px;
        width: 80%;
        margin-left: 20px;
       
    }
    #nine{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #ten{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #eleven{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #twelve{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }.sixa{
        /* display: inline-block; */
        height: 70px;
        width: 80%;
        margin-left: 20px;
        
    }
    #sevena{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #eighta{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #ninea{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #tena{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #sub{
        margin-left: 20px;
       }
    
    
    
    .hi{
        display: inline-block;
        width: 50%;
       
    }
    .pic{
        display: inline-block;
        width: 49%;
        height: 700px;
    }
    #pica{
        height: 250px;
    }
    #picb{
        height: 250px;
    }
    .info{
        background-image: url("./download\ \(8\).jpg");
        background-repeat: no-repeat;
        width: 100% !important; 
        /* display: inline; */
    }
}
@media only screen and (max-width:768px){
    
   #picture{
    height: 200px;
    margin-left: 100px;
    width: 100%;
}
#tone{
   margin-left: 100px;

}
#ttwo{
    margin-left: 100px;
}
   .three{
       /* display: inline-block; */
       height: 70px;
       width: 100%;
       margin-left: 100px;
       
   }
   #four{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #five{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #six{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #seven{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   .eight{
       /* display: inline-block; */
       height: 70px;
       width: 100%;
       margin-left: 100px;
   
   }
   #nine{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #ten{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #eleven{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #twelve{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   .onea{
       /* display: inline-block; */
       height: 70px;
       width: 100%;
       margin-left: 100px;
      
   }
   #twoa{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #threea{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #foura{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #fivea{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   .eight{
       /* display: inline-block; */
       height: 70px;
       width: 100%;
       margin-left: 100px;
      
   }
   #nine{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #ten{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #eleven{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #twelve{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }.sixa{
       /* display: inline-block; */
       height: 70px;
       width: 100%;
       margin-left: 100px;
       
   }
   #sevena{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #eighta{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #ninea{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #tena{
       display: inline-block;
       height: 50px;
       width: 20%;
       background-color: white;
       border-radius: 10px;
       text-align: center;
   }
   #sub{
    margin-left: 250px;
   }
   
   
   .hi{
       /* display: inline-block; */
       width: 100%;
      
   }
   .pic{
       /* display: inline-block; */
       width: 100%;
       height: 700px;
   }
   #pica{
       height: 250px;
   }
   #picb{
       height: 250px;
   }
   .info{
       background-image: url("./download\ \(8\).jpg");
       background-repeat: no-repeat;
       width: 100% !important; 
       /* display: inline; */
   }
}

@media only screen and (max-width:560px){
    
    #picture{
     height: 200px;
     margin-left: 100px;
     width: 100%;
 }
 #tone{
    margin-left: 100px;
 
 }
 #ttwo{
     margin-left: 100px;
 }
    .three{
        /* display: inline-block; */
        height: 70px;
        width: 100%;
        margin-left: 100px;
        
    }
    #four{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #five{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #six{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #seven{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    .eight{
        /* display: inline-block; */
        height: 70px;
        width: 100%;
        margin-left: 100px;
    
    }
    #nine{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #ten{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #eleven{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #twelve{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    .onea{
        /* display: inline-block; */
        height: 70px;
        width: 100%;
        margin-left: 100px;
       
    }
    #twoa{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #threea{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #foura{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #fivea{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    .eight{
        /* display: inline-block; */
        height: 70px;
        width: 100%;
        margin-left: 100px;
       
    }
    #nine{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #ten{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #eleven{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #twelve{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }.sixa{
        /* display: inline-block; */
        height: 70px;
        width: 100%;
        margin-left: 100px;
        
    }
    #sevena{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #eighta{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #ninea{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        text-align: center;
        border-radius: 10px;
    }
    #tena{
        display: inline-block;
        height: 50px;
        width: 20%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    #sub{
     margin-left: 250px;
    }
    
    
    .hi{
        /* display: inline-block; */
        width: 100%;
       
    }
    .pic{
        /* display: inline-block; */
        width: 100%;
        height: 700px;
    }
    #pica{
        height: 250px;
    }
    #picb{
        height: 250px;
    }
    .info{
        background-image: url("./download\ \(8\).jpg");
        background-repeat: no-repeat;
        width: 100% !important; 
        /* display: inline; */
    }
 }