*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
}
header{
    border: 2px solid black;
    padding: 50px 50px;
    text-align: center;
}
nav{
    width: 30%;
    padding-bottom: 30%;
    border: 2px solid black;
    display: inline-block;
}
.section{
    width: 69.3%;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    padding-bottom: 26.5%;
    text-align: center;
    height: 75px;
    border: 2px solid black;
}
.sectiona{
    height: 220px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.sectionb{
    /* border-bottom: 2px solid black;
    height: 215px; */
}
footer{
    padding-bottom: 10px;
    border: 2px solid black;
    text-align: center;
}

@media only screen and (max-width:991px){
    header{
        border: 2px solid black;
        padding: 50px 50px;
        text-align: center;
    }
    nav{
        width: 100%;
        padding-bottom: 30%;
        border: 2px solid black;
        display: inline-block;
    }
    .section{
        width: 100%;
        display: block;
        /* vertical-align: top; */
        margin-left: -4px;
        padding-bottom: 26.5%;
        text-align: center;
        height: 75px;
        border: 2px solid black;
    }
    .sectiona{
        height: 220px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        width: 120%;
    }
    .sectionb{
        border-bottom: 2px solid black;
        height: 220px;
        width: 120%;
    }

    footer{
        padding-bottom: 10px;
        border: 2px solid black;
        text-align: center;
    }
    
}