.two{
    position: relative;
    height: 200px;
    border: 2px solid greenyellow;
    margin: 30px;
}
.three{
    position: absolute;
    border: 2px solid greenyellow;
    right: 0;
    height: 100px;
}