.head{
    color: white;
    background-color: yellow;
    text-align: center;
    width: 770px;
    height: 50px;
}
.body{
    width: 80%;
}
.nav{
    color: white;
    display: inline-block;
    text-align: center;
    background-color: blue;
    width: 241px;
    height: 400px;
}
.art{
    color: white;
    display: inline-block;
    text-align: center;
    background-color: green;
    width: 525px;
    height: 400px;
    
}
.foot{
    color: white;
    text-align: center;
    background-color: red;
    width: 770px;
    height: 40px;
}